# Xcode build artifacts
build/
DerivedData/

# Personal settings
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad/
UserInterfaceState.xcuserstate

# Crashlytics/Fabric
*.dSYM
*.ipa

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Firebase
GoogleService-Info.plist
node_modules/
functions/lib/
.firebase/
firebase-debug.log

